@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
   
  }


/*  */

body{
   background-color:black;
    color: white;

}
.contain{
    width: 80%;
    margin: 2rem 7rem;
    
}


.navbar{
    display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.navbar-title{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 26px;
font-weight: 800;
font-style: italic;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    font-family: Inter;
font-size: 16px;
font-weight: 800;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding:8px 20px 8px 20px;;

}
   .btn-orange{
    border-radius: 46px;

background: rgb(230, 83, 60);
border: 1px solid rgb(230, 83, 60);
padding: 16px 40px 16px 40px;


   }

   .menu p{
    display: none;
   }

   .banner-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 38px;
    font-weight: 900;
   }

   .font-style{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-style: italic;
    font-size: 30px;

   }
   .banner-description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;

   }
   .banner{
    display: flex;
  
    justify-content: space-between;
    
   
   }

   .banner-details{
    width: 50%;
   }

   .banner-img img{
    width: 349px;
height: 400px;
left: 877px;
top: 135px;
   }
   .red-ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    text-align: center;
   }

   .video{
    display: flex;
    gap: 3%;
    align-items: center;
    width: 100px;
    height: 45px;
    padding: 5px;
    position: absolute;
margin-top: -100px;  
margin-left: -20px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);


    
   }
   .video-description{
    font-size: 10px;
   }

   .workout-video{
    margin: 20px;
    width: 100px;
    height: 50px;
    padding: 5px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
font-size: 10px;
margin-top: -300px;  
margin-left: 250px;




   }
   .workout-video h3{
    font-size: 15px;
    margin: 0 auto;
   }

   .habits{
    text-align: center;
   }
   .habit-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;

   }
   .habit-subtitle{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

   }
   .habit-images{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2%
   }
   .habit-img img{
    width: 180px;
height: 180px;
border-radius: 50%;

   }
   .habit-img h3 {
    text-align: center;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
    
   }

   .habit-img p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
   }

   .run-extra{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    
}

.run-extra-image img{
   width: 100%;
   height: 100%;
   
}
.run-extra-title{
    text-align: left;
}

.run-extra-title h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2em;
font-weight: 900;
}

.run-extra-title p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1em;
font-weight: 400;
}
 #run-extra{
    border-radius: 1em;

background: rgb(34, 34, 34);
    padding: 5%;

 }


 .bmi-cal-details{
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
height: 200px;
width: 500px;
margin-left: 30%;

}

.bmi-cal-details p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

}


#footer{
    background: rgb(34, 34, 34);

}

 .footer-details{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10%;
    


   
    
 }

 .footer-title {
    display: flex;
    flex-direction: column;
    text-align: left;
   padding-left: 5%;
   margin-left: 15%;
    
 }
 .copy-right p{
    text-align: center;

 }
 hr{
    text-align: center;
    width: 50%;
 }

 table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 2px;
    margin: 5px;
   width:400px;
   height:50px;
   
  }

  .bmi-chart{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    
  }

  .option{
    display: grid;
    grid-template-columns:repeat(2 ,1fr);
    gap: 5%;

  }
  .bmi-cal{
    background: rgb(34, 34, 34);
  }
    



    .bmi-table{
        color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

    }

    .calculator{
        height: 300px;
        width: 700px;
    }

    .calculator p{
        color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400
    }

   .team-title{
 text-align: center;
 width: 501px;
height: 120px;
margin: 0 auto;

 
   }

   .team-title p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
   }

   .team-details{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  
    background-color:rgb(34, 34, 34); 
    margin-left: 5%;
    
   }

   .team-detail img{
    width: 226.67px;
height:172px;
border-radius: 18px;
background: rgba(0, 0, 0, 0.2);
margin-left: 5%;
margin-top: 3%;
margin-right: 5%;
margin-bottom: 5%;
padding: 20px;
position: relative;

   }

   .team-name{
    margin-top: -140px;
    margin-left: 60px;
    position: absolute;
   }

   .team-name h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;

   }

   .team-name p{
    
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;

   }
   .customer-review img{
    width: 400px;
    height: 300px;
   }

   .customer-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:space-evenly;
    gap: 2%;
   }

   #customer-review{
    text-align: center;
    margin-bottom: 2%;

   }
 

   

  
  

  

   
















   @media screen and (max-width:576px) {
   .contain{
    width: 90%;
    margin: 0 auto;
    
   }

    
    .menu h3{
        display: none;
    }

    .menu p{
        display: block;
    }
    .banner{
        display: flex;
        flex-direction: column;
        gap:5%;  
        
    
   }
   .banner-img img{
    width: 200px;
    margin-left: 2%;
   
   }

   .banner-details{
    width: 50%;
   }
   .btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    
   }

   .btn button{

  
    font-size: 10px;
    
    text-align: center;
    padding: 2px 5px 5px 2px;
    border-radius: 10px;
   
    
    
   }
   .workout-video{
    margin: 20px;
    width: 100px;
    height: 50px;
    padding: 5px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
font-size: 10px;
margin-top: -300px;  
margin-left: 160px;




   }

   .habit-images{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 2%
   }

   .run-extra{
    
    display: flex;
    flex-direction: column;
    gap: 20%;
    
}

#habits{
    margin-bottom: 30%;
}

.run-extra-image img{
    margin-top: 5%;
}

.run-extra-title button{
    width: 100%;
    color: white;
}

.footer-details{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    
    margin-bottom: 15%;
    
    gap: 1%;
 
   
    
 }
 .footer-title {
    margin-left: 0;
   

   
 
    
 }

 #footer{
    margin-top: 25%;
 }
 .get-started ul p{
margin-left: 7%;
padding-left: 10%;

 }
 hr{
   
 width: 100%;
    margin-top: 10%;
 }
 .copy-right p{
    text-align: left;

 }
 


 .bmi-cal-details{
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 0 auto;
width: 100%;


}

.bmi-chart{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-bottom: 35%;
    margin-left: 10%;
    margin-right: 10%;
    height: 650px;
    width: 100%;
    
  }
 
  .option{
    display: grid;
    grid-template-columns:repeat(2 ,1fr);
    gap: 2%;
   

  }

  .option input{
    width: 100px;
height: 10px
  }

  .option select{
    width: 110px;
    height: 20px;
    


  }

  #bmi-cal{
    width: 100%;
    height: 500px;
    background: rgba(48, 48, 48, 0.54);
    margin-bottom: 20%;
  
  }

  .calculator{
    width: 100%;
    
   
  }
  .calculator p{
    text-align:start;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 11px;
font-weight: 400;
   
    margin-bottom: 3px;
  }

  .team-title{
    text-align: center;
    width: 100%;
  }

  .team-details{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
  
    
   }
   .team-detail img{
    width: 200px;
height: 150px;
border-radius: 18px;
background: rgba(0, 0, 0, 0.2);
margin-left: 5%;
margin-top: 3%;
margin-right: 10%;
margin-bottom: 5%;
padding: 20px;
position: relative;



}

.team-name{
    margin-top: -120px;
    margin-left: 50px;
    position: absolute;
   }


   .customer-reviews{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content:space-evenly;
    gap: 2%;
   }

   .customer-review img{
    width: 300px;
    height: 200px;
   }

   #meet-team{
    margin-top: 60%;
   }


 table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 2px;
    margin: 5px;
   width:200px;
   height:50px;
   
  }


   }



